<html>
    <head>
        <title>CRUD using node js</title>
    </head>
    <body>
        <div class="container">
            <h2><%= title %></h2>
            <table class="table table-dark table-striped">
                <thead
            </table>
            </div>
    </body>
</html>