<html>
    <head>
        <title>CRUD using node js</title>
    </head>
    <body>
        <div class="container">
            <h2><%= title %></h2>
            <tableclass
            </div>
    </body>
</html>